.choice-box
{
    -fx-font: 16px "Retro Computer";
}

.combo-box
{
    -fx-font: 16px "Retro Computer";
}

.button
{
    -fx-font: 14px "Retro Computer";
}

.list-view
{
    -fx-font: 14px "Retro Computer";
}